html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.selected {
  background-color: #d3d3d3; /* Light gray background */
  font-weight: bold; /* Bold text */
}
.search-box {
  margin-bottom: 10px; /* Add margin below the search box */
}
